<!-- Header -->
<header id="header"{% if page.layout == 'landing' %} class="alt"{% endif %}>
  <h1><a href="{{ site.t['baseurl'] }}/index.html">{{ site.t['title'] }}</a></h1>
  <nav id="nav">
    <ul>
      <li class="special">
        <a href="#menu" class="menuToggle"><span>Menu</span></a>
        <div id="menu">
          <ul>
            <li><a href="index.html">Page d'accueil</a></li>
            <li><a href="index.html#education">Education</a></li>
            <li><a href="index.html#projets_informatique">Projets informatiques</a></li>
            <li><a href="index.html#projets_associatifs">Projets associatifs</a></li>
            <li><a href="index.html#experience">Experience professionelle</a></li>
            <li><a href="/competence.html"> Compétence </a></li>
            <li><a href="/information.html"> Information </a></li>




            {% for my_page in site.pages %}
            {% if my_page.title %}
            {% if lang=fr %}
            <li><a href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
            {% endif %}
            {% endif %}
            {% endfor %}
            <li><a href="index.html/#contact"> Contact </a> </li>
            <li> Langue <div class="lang">
              <nav class="language-switcher">
        {% if page.name contains "index" %}
          <a class="fr" href="{{ site.baseurl }}/">FR</a>
          <a class="en" href="{{ site.baseurl | append: "/en" }}">EN</a>
        {% else %}
          <a class="fr" href="{{ site.baseurl | append: "/index.html" }}">FR</a>
          <a class="en" href="{{ site.baseurl | append: "/en" | append: "/index.html" }}">EN</a>
        {% endif %}
      </nav>
           </div></ul>
          </ul>
        </div>
      </li>
    </ul>
  </nav>
</header>
